* {
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.div1 {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
}

.div2 {
  flex:70%;
  width: 50%; 
  margin: auto; 

}

.div3 {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.music-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 9999;
}

.prompt-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px; /* rounded corners */
}

.desc {
  padding: 2vh;
  font-size: medium;
}

.auth {
  position: "absolute";
        bottom: "0";
        right: "0";
}